<!-- About Section -->
<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">About</h2>
				<h3 class="section-subheading text-muted">Why sensors for hospital beds?</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				Sensors and visualizations that reveal movement, ambient sound, and light conditions of a hospital bed. This way, hospitals can quality check all of their rooms to make sure that patients are getting the best rest possible. Larger amounts of data also would allow us to build profiles that can be later clustered and help us identify and predict future health problems.

				Used Tessel, Plot.ly, and Beaker. Inspired by Ben at Hack@Brown.
			</div>			
		</div>
	</div>
</section>