<!-- Header -->
<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">Your Sleep, Your Health</div>
      <div class="intro-lead-in">Learn More About the Sleep Sensors</div>
      <a href="#services" class="page-scroll btn btn-xl">Let's Explore</a>
    </div>
  </div>
</header>