<!-- Team Section -->
<section id="team" class="bg-light-gray">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">The Squad</h2>
				<h3 class="section-subheading text-muted">Hackers with hacks.</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="team-member">
					<img src="img/team/jimmy.jpg" class="img-responsive img-circle" alt="">
					<h4>Jimmy Gozal</h4>
					<p class="text-muted">Visualization</p>
					<ul class="list-inline social-buttons">
						<li><a target="_blank" href="https://www.linkedin.com/pub/jimmy-gozal-benarditi/35/b12/a68"><i class="fa fa-linkedin"></i></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="team-member">
					<img src="img/team/kai.jpg" class="img-responsive img-circle" alt="">
					<h4>Kai Austin</h4>
					<p class="text-muted">Visualization</p>
					<ul class="list-inline social-buttons">
						<li><a target="_blank" href="https://www.linkedin.com/pub/kai-austin/49/8a9/987"><i class="fa fa-linkedin"></i></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="team-member">
					<img src="img/team/david.jpg" class="img-responsive img-circle" alt="">
					<h4>David Zhu</h4>
					<p class="text-muted">Sensor</p>
					<ul class="list-inline social-buttons">
						<li><a target="_blank" href="https://www.linkedin.com/in/hdavidzhu"><i class="fa fa-linkedin"></i></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="team-member">
					<img src="img/team/evan.jpg" class="img-responsive img-circle" alt="">
					<h4>Evan Simpson</h4>
					<p class="text-muted">Sensor and Mentor</p>
					<ul class="list-inline social-buttons">
						<li><a target="_blank" href="https://www.linkedin.com/in/evansimpson"><i class="fa fa-linkedin"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<p class="large text-muted">
					Students from <a target="_blank" href="http://www.olin.edu/">Olin College</a> and <a target="_blank" href="http://www.babson.edu/Pages/default.aspx">Babson College</a>.
				</p>
			</div>
		</div>
	</div>
</section>